<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>display selected user</title>
</head>

<body>
    <h1>Users{{user.id}}</h1>
    <h2>{{user.full_name()}}</h2>
    <p1>Email: {{user.email}}</p1>
    <div>
        <p1>Created at: {{user.created_at}}</p1>
    </div>
    <div>
        <p1>Updated at: {{user.updated_at}}</p1>
    </div>
    <form action="/user/delete" method="post">
        <input type="hidden" name="id" value="{{user.id}}">
        <button type="submit">delete</button>
    </form>

    <div>
        <a href="/user">Home</a>
    </div>
</body>

</html>